# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3

# Environnement virtuel
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.coverage
htmlcov/
coverage.xml

# Env files
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Distribution / Packaging
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log
